.item1 {
  height: 20px;
}

.item2 {
  height: 40px;
}

.item3 {
  height: 60px;
}

.item4 {
  height: 80px;
}

.item5 {
  height: 100px;
}

.item6 {
  height: 120px;
}

.item7 {
  height: 140px;
}

.item8 {
  height: 160px;
}