* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .game-body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

.game-body h2{
  font-size: 40px;
}

.game-body p{
  font-size: 30px;
}

.game-body button{
  width: 60px;
  height: 40px;
} */

/* ------------------------------------------------ */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.clock {
  width: 480px;
  height: 480px;
  background-image: url("https://media.istockphoto.com/id/1014875730/vector/clock-face-blank-hour-dial-dashes-mark-minutes-and-hours-simple-flat-vector-illustration.jpg?s=612x612&w=0&k=20&c=Z4E98A5tq-ANDKy7LHmp6YIpfRg9xcftPTfZVuMheow=");
  background-size: cover;
  position: relative;
}
.stop{
  margin: 0 auto;
}
.center {
  background-color: black;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.hand {
  width: 130px;
  height: 3px;
  background-color: black;
  transform: rotate(90deg);
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  left: 110px;
  transition: all .3s;
}