* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider {
    overflow: hidden;
    height: 670px;
    position: relative;
}

.sliderline {
    display: flex;
    position: absolute;
    transform: translateX(0);
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .5s;
}

.slide {
    background-image: url("./images/slide1.png");
    width: 1920px;
    height: 670px;
    background-repeat: no-repeat;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
    padding: 100px;
    position: relative;
}

.description h2,
.description p {
    color: #fff;
}

.text-container{
    position: absolute;
    top: 150px;
}
.title{
    color: #fff;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 20px;
    position: relative;
    /*animation: text 3s 1;*/
}

@keyframes text {
    0% {
        color: #000;
        margin-bottom: -40px;
    }
    30% {
        letter-spacing: 25px;
        margin-bottom: -40px;
    }
    85% {
        letter-spacing: 8px;
        margin-bottom: -40px;
    }
}