.user {
  text-align: center;
}

.posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.item {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}

.user {
  border-radius: 10px;
  border: 1px solid red;
  margin-bottom: 20px;
}

#root {
  text-align: center;
}